@use "variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(24, 24, 24);
  color: $light;
  min-height: 100vh;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

h1 {
  color: $primary;
  font-size: 2.5rem;
}

a {
  color: $primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.hidden {
  display: none;
}

#content {
  max-width: $breakpoint-large;
  margin: 0 auto;
  width: 100%;
}
